$background: #FFCDFD;
$surface: #fff;

$title: #79D5FF;
$subtitle: #FFF;
$text: #FFF;
$link: #98A3AA;

$heading1: $subtitle;
$heading2: #FFF;
$heading3: #FFF;
$heading4: #FFF;
$heading5: #FFF;

$layout-small: 768px;
$layout-medium: 1024px;

$font-h1: 3em;

@mixin headline($size, $color) {
  font-size: $size;
  color: $color;
}